<div class="container">
    <form (submit)="onLogin()">
      <h2>LOGIN</h2>
  
      <div class="form-group">
        <input
          type="email"
          name="email"
          [(ngModel)]="email"
          placeholder="Email"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Password"
          required
        />
      </div>
      <button type="submit">Login</button>
      <p>
        Don't have an account?
        <span class="highlighted" routerLink="/sign-up">REGISTER</span>
      </p>
    </form>
  </div>
  