
  <header class="header">
    <div class="container">
      <div class="logo">
        <h1>Largerthan</h1>
      </div>
      <nav class="nav">
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/what-we-do">What We Do</a></li>
          <li><a routerLink="/media">Media</a></li>
          <li><a routerLink="/contact-us">Contact</a></li>
          <li><a class="donate-btn" routerLink="/login">Sign Up</a></li>
        </ul>
      </nav>
    </div>
  </header>